tab {
	position:absolute;
	left:150px; 
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

h1 {
	color: black;
	font-family: "Palatino";
}

text {
	color: grey;
	font-family: "Times New Roman";
}